/*css reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a{ 
    color: inherit;
    text-decoration: none;
} 
img{
    max-width: 100%;
    max-height: 100%;
}
/*style*/

.searchForm {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}
/* 如果页面宽度大于500px，执行@media里面的样式，如果小于500px，则不考虑 */
@media(min-width:500px){/*相当于对PC页面的设置，因为手机页面不会大于500px*/
    .searchForm {
    max-width: 400px;
    /* margin:0 auto;当有最大宽度时margin：0 auto来实现居中 */
    margin-left: auto;
    margin-right: auto;
}
}
.searchForm > input {
  width: 100%;
  height: 40px;
  margin-right: 10px;
  padding: 0 10px;
  border:1px solid #ddd /*input有默认边框，先覆盖掉，在设置圆角*/
  border-radius: 4px;
}

.searchForm > button {
  white-space: nowrap;
  padding: 0 27px;
  border:none; /*button有默认边框，先覆盖掉，在设置圆角*/
  border-radius: 4px;
  background: #0A3893;
  color:white;
  font-size: 18px;
}

.globalMain {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;/*居中*/
}
.siteList {
display: flex;
flex-wrap: wrap;
margin: 20px;
justify-content: space-between;
/* border: 1px solid red ; */
}
@media(min-width:500px){
    .siteList{
     justify-content: flex-start;
       margin-top: 60px;
        margin-left: 0;
        margin-right: -25px;/*将元素向左拖拽25像素，元素本身的位置不变*/
    }
}
.siteList > li {
/* border: 1px solid blue; */
margin-bottom: 10px;

}
@media(min-width:500px){
    .siteList > li {
      
        margin-right: 25px;
        }
}
.siteList .site {
/* border: 1px solid red ; */
width: 160px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
}

.siteList .site > .logo {
  
    width: 64px;
    height:64px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteList .site > .link {
    font-size: 14px;
    margin-top: 4px;
}
.siteList .site > .close {
position: absolute;
top: 0px;
right: 0px;
display: none;
}
.siteList .site:hover > .close {
display: block;
cursor: default;
}
.siteList .addButton {
    width: 160px;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 1px solid #ddd;
padding: 10px 0;
}
.siteList .addButton .iconWrapper{

display: flex;
justify-content: center;
align-items: center;


}
.siteList .addButton .icon{
    width: 64px;
    height: 64px;
    
}
.siteList .addButton .text{
    font-size: 14px;
    margin-top: 4px;
}
